<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Sean Sawyer | {{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span16">
          <h1>Sean Sawyer</h1>
        </div>
      </div>
      <div class="row">
        <div class="span10">
          {{ content }}
        </div>
        <div class="span6">
          <p>If you read this far, thank you!</p>
        </div>
      </div>
    </div>
  </body>
</html>
