<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Sean Sawyer | {{ page.title }}</title>
  </head>
  <body>
    <div class="container">
      <!-- BEGIN GITHUB RIBBON -->
      <a href="https://github.com/seansawyer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
      <!-- END GITHUB RIBBON -->
      <div class="row">
        <div class="span16">
          <h1>Sean Sawyer</h1>
        </div>
      </div>
      <div class="row">
        <div class="span10">
          {{ content }}
        </div>
        <div class="span6">
          <!--
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About me</a></li>
            <li><a href="/resume.html">Resume</a></li>
          </ul>
          -->
        </div>
      </div>
    </div>
  </body>
</html>
