<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>Sean Sawyer | {{ page.title }}</title>
    <link rel="stylesheet"
          href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <a href="http://github.com/seansawyer">
        <img style="position: absolute; top:
                    0; right: 0; border: 0;"
             src="https://a248.e.akamai.net/assets.github.com/img/7afbc8b248c68eb468279e8c17986ad46549fb71/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
             alt="Fork me on GitHub">
      </a>
      <div class="row">
        <div class="span16">
          <h1>Sean Sawyer</h1>
        </div>
      </div>
      <div class="row">
        <div class="span10">
          {{ content }}
        </div>
        <div class="span6">
          <!--
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About me</a></li>
            <li><a href="/resume.html">Resume</a></li>
          </ul>
          -->
        </div>
      </div>
    </div>
  </body>
</html>
